@font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url('./fonts/Nunito-Regular.ttf') format('truetype');
  }


  *{
      font-family: 'Nunito';
      box-sizing: border-box;
  }

  body{
      margin: 0;
  }